body {
    /* font-family: 'Montserrat', sans-serif; only for buttons*/
    font-family: 'Open Sans', sans-serif;

    color: #201b2d;
    font-size: 15px;
    padding: 0;
    margin: 0;
  }
  
  div,
  p,
  input,
  button,
  form,
  span,
  a,
  ul,
  li {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
  }
  
  p {
    line-height: 1.65em;
  }
  
  .container {
    width: 1170px;
    margin: 0 auto;
  }
  .header {
    background: rgba(0,196,255,1);
background: -moz-linear-gradient(-45deg, rgba(0,196,255,1) 0%, rgba(55,144,217,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,196,255,1)), color-stop(100%, rgba(55,144,217,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,196,255,1) 0%, rgba(55,144,217,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,196,255,1) 0%, rgba(55,144,217,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,196,255,1) 0%, rgba(55,144,217,1) 100%);
background: linear-gradient(135deg, rgba(0,196,255,1) 0%, rgba(55,144,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c4ff', endColorstr='#3790d9', GradientType=1 );
    padding-top: 60px;
    padding-bottom: 165px;
    color: #fff;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .offer {
    margin-top: 150px;
    width: 510px;
  }
  .title {
    font-size: 37px;
  }
  .title span {
    font-size: 59px;
  }
  .intro {
    margin-top: 45px;
    margin-bottom: 36px;
    width: 370px;
  }
  .btn {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #2e2a1b;
    background: #ffd429;
    display: block;
    width: 205px;
    padding: 20px 0;
    text-align: center;
    transition: all 0.5s ease;
  }
  .btn:hover {
    background: #f3ca28;
  }
  .first {
      margin-top: 25px;
  }
  .learn {
    padding-top: 108px;
    padding-bottom: 120px;
  }
  .section-title {
    font-size: 30px;
    text-align: center;
  }
  .wishes {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }
  .wish {
    width: 350px;
    text-align: center;
    width: 300px;
  }
  .wish-title {
      margin-top: 30px;
    font-size: 18px;
  }
  .wish-text {
    font-family: 'Ubuntu';
    margin-top: 7px;
  }
  .wish-free {
    width: 270px;
  }
  .mail {
    background: #ecf3f8;
    padding-top: 173px;
    padding-bottom: 190px;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .input {
    width: 343px;
    border: 1px solid #bfb8d1;
    border-radius: 4px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    height: 54px;
    padding-left: 38px;
    outline: none;
    margin-bottom: 17px;
  }
  .btn-form {
    border: 0;
    cursor: pointer;
    display: inline;
    width: 343px;
  }
  .footer {
    padding: 60px 0;
    background: #164d7a;
    text-align: center;
  }
  .credits {
    color: #eff3f6;
    font-size: 14px;
    margin: 0;
  }
  /* Responsible */

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
  .header {
    padding-top: 10px;
  }
  .offer {
    margin-top: 50px;
  }
  .wrapper {
    flex-direction: column;
  }
  .offer {
    width: 100%;
  }
  .intro {
    width: 100%;
  }
  .first {
    display: block;
    width: 549px;
    margin: 72px auto 0;
  }
  .wishes {
    flex-direction: column;
  }
  .wish {
    width: auto;
    margin-bottom: 30px;
  }

}
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
  .first {
    width: 100%;
  }
  .input {
    width: 100%;
  }
  .btn-form {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
}
  